$container-width: 30rem;
$icon-height: 13rem;

$dark-color: #000000;

// $background-color: rgba($dark-color, .1);
$background-color: #293251;
$container-background: #FFFFFF; 
$notification-background: #F8D7DA;
$weather-background: #F4F9FF;


$text-color: #293251; 
$notification-color: #81202A;
